@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

/* Hide scrollbar for mobile nav */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
